
body {
    background-color: rgb(130, 130, 130);
    color: rgb(256,256,256);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	border: 5px solid white;
}

footer {
	//font-style: italic;
	font-size: 90%;
}

